{% extends 'base.html' %}

{% load custom_tags %}
{% load crispy_forms_tags %}

{% block mainpage %}

<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">

    <form method = "post" class = "form-group" style='align-items:center;'>
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn_success"> login </button>
        <p> Don't have an account? Create one <a href="/register">here</a></p>
    </form>

{% endblock %}