:root {
    --height: 20px;
    
 } 

div {
    color: black;
    font-size: 14;
}

h1{
    margin-bottom:(var(--height));
}
h2{
    margin-bottom:(var(--height));
}
h3{
    margin-bottom:(var(--height));
}
h4{
    margin-bottom:(var(--height));
}