.card {
	text-align: center;
	padding: 20px 0px 20px 0px;
	padding-top: 50px;
	padding-bottom: 50px;
    padding-right: 50px;
}

.cards > .card{
    list-style: none;
}

.card > a{
    text-decoration: none;
    color: black;
}