body {
	margin: 0;
	padding: 0;
	font-family: 'Calibri', serif;
}

.hold {
	padding-top: 150px;
	z-index:0;
 }

.logo{
	color: #ffffff;
	margin:0;
	float: left;
	padding-left: 30px;
	height: 50px;
}

.container{
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0;
}

.nav {
	background-color: #ff9900;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0px 20px 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
}

.nav > li {
	display: inline-block;
	padding-right: 50px;
	padding-left: 50px;
	position: relative;
}
 
.nav > li > a{
	text-decoration: none;
	color: #ffffff;
}

.nav > li > a:hover {
	color: #c1c1c1;
}

.nav > li > a::before{
	content: '';
	display:block;
	top:0;
	height: 5px;
	width: 0%;
	background-color: #c1c1c1;
	transition: all ease-in-out 100ms;
}
.nav > li > a:hover::before {
	width: 100%;
	background-color: #c1c1c1;
}

.dropdown1{
	display: none;
	background-color: #ff9900;
	color: #ffffff;
	list-style: none;
	padding-right: 35px;
	z-index:1;
}
.dropdown1 > li{
	padding-top: 20px;
	padding-bottom: 20px;
}
.dropdown1 > li > a{
	text-decoration: none;
	color: #ffffff;
}

.nav > li:hover .dropdown1{
	display: block;
	position: absolute;
	background: #ff9900;
}

.nav > li:hover .search{
	display: inline-block;
	background: #ff9900;
	position: absolute;
	align-items: center;
}

.searchbox {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 100px;
}
.searchbox > .search {
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 80px;
	  height: 80px;
	  border-radius: 50%;
	  transition: all 1s;
	  z-index: 4;
	  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
	}
.searchbox:hover {
		cursor: pointer;
	  }

.searchbox::before {
		content: "";
		position: absolute;
		margin: auto;
		top: 22px;
		right: 0;
		bottom: 0;
		left: 22px;
		width: 12px;
		height: 2px;
		background: white;
		transform: rotate(45deg);
		transition: all .5s;
	  }
	  
.searchbox::after {
		content: "";
		position: absolute;
		margin: auto;
		top: -5px;
		right: 0;
		bottom: 0;
		left: -5px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 2px solid white;
		transition: all .5s;
	  }
.search_input {
	font-family: 'Inconsolata', monospace;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: #ff9900;
	color: white;
	text-shadow: 0 0 10px crimson;
	padding: 0 80px 0 20px;
	border-radius: 30px;
	box-shadow: 0 0 25px 0 crimson,0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	font-weight: bolder;
	letter-spacing: 0.1em;
}
.search_input::after > .searchbox > .search{
	display:none
}
.search_input:hover {
	cursor: pointer;
	}
	
.search_input:focus {
	width: 300px;
	opacity: 1;
	cursor: text;
	}
.search_input:focus ~ .search {
	right: -250px;
	background: #151515;
	z-index: 6;
}
.search_input:focus ~ .search::before {
		top: 0;
		left: 0;
		width: 25px;
	}
.search_input:focus ~ .search::after {
		top: 0;
		left: 0;
		width: 25px;
		height: 2px;
		border: none;
		background: white;
		border-radius: 0%;
		transform: rotate(-45deg);
	}

.search_input::placeholder {
	color: white;
	opacity: 0.5;
	font-weight: bolder;
	}

.login{
	top:50px;
	position: absolute;
}

.login > svg:hover{
	transform:scale(1.1)
}

.login > a{
	display:block;
}