{% load static %}


<!DOCTYPE HTML>
<html lang = "en">
<head>
  	<meta charset="UTF-8">
    <title>Handy - The place to find all your handy man and home service needs</title>
    <meta charset = "UTF-8" />
    <style type="text/css"></style>
 	<nav class="navbar main-nav navbar-fixed-top black-header">
					<div class="container-fluid">
	<link rel="stylesheet" href="/static/style.css?{% now "U" %}"/>
  </head>


  {% block content %}

  <body>
  <header>
  <div class = "container">
  	<ul class="nav">
  		<h1 class="logo">HANDY</h1>
	  	<li class = "active"><a href="/Home">Home</a></li>
		<li><a href="#">Search By Speciality</a>
			<div>
				<ul class = "dropdown1">
					<li><a href="#">Electrical</a></li>
					<li><a href="#">Plumbing</a></li>
					<li><a href="#">HVac</a></li>
					<li><a href="#">Windows</a></li>
					<li><a href="#">Doors</a></li>
					<li><a href="#">Kitchen</a></li>
					<li><a href="#">Bathroom</a></li>	
				</ul>
			</div>
		</li>
		<li><a href="/contact">Contact</a></li>
		<li class = "search">
			<form method = "get">
				<input type= "text" class = "form-control" name = "q" id = "id_q"> 
			</form>
			<a href="#">Search</a>
		</li>
    </ul>
    
</div>
</header>
</body>

{% endblock %}

{% block mainpage %}
{% endblock %}
</html>
