{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}

{% block mainpage %}

<link rel="stylesheet" href="/static/home.css?{% now "U" %}"/>
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">


{% for card in data.items %}
</div>

<a class="card" href = "http://localhost:8000/contractor/{{ card.1.id }}">

   <div class="card-picture">
      <svg picture="0 0 208 278"></svg>
   </div>
   
   <div class="card-details">
	   
	  <div class="name">{{ card.1.name }}</div>
	  
      <div class="occupation">NOT DONE YET (occupation here), but id = {{ card.1.id }}</div>
      
      <div class="card-about">
		
		<div class="item">
            <span class="value">{{ card.1.phone }}</span>
            <span class="label">Phone</span>
		 </div>
         <div class="item">
            <span class="value">{{ card.1.email }} </span>
            <span class="label">Email</span>
		 </div>
         <div class="item">
            <span class="value">{{ card.1.cities|print_list }}</span>
            <span class="label">City</span>
		 </div>

	  </div>
	  
      <div class="Description">
         <span class="value">Missing description as attribute in databases, might turn this into reviews instead</span>
      </div>
   </div>
</a>

{%endfor%}

{% endblock %}
